In [1]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

# Importing data /quick exploration

In [2]:
data = pd.read_csv('movies_last.csv')

In [3]:
data.head()

,Unnamed: 0,Unnamed: 0.1,all_titles,all_years,all_scores,all_meta,all_votes,all_gross,all_genres,id
0,0,0,Star Wars: Episode VII - The Force Awakens,(2015),7.9,81,799424,"936,662,225","\nAction, Adventure, Sci-Fi",tt2488496
1,1,1,Avengers: Endgame,(2019),8.5,78,598830,"858,373,000","\nAction, Adventure, Drama",tt4154796
2,2,2,Avatar,(2009),7.8,83,1065708,"760,507,625","\nAction, Adventure, Fantasy",tt0499549
3,3,3,Black Panther,(2018),7.3,88,550256,"700,059,566","\nAction, Adventure, Sci-Fi",tt1825683
4,4,4,Avengers: Infinity War,(2018),8.5,68,723574,"678,815,482","\nAction, Adventure, Sci-Fi",tt4154756

In [4]:
data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace = True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 8 columns):
all_titles    5050 non-null object
all_years     5050 non-null object
all_scores    5050 non-null object
all_meta      5050 non-null object
all_votes     5050 non-null object
all_gross     5050 non-null object
all_genres    5050 non-null object
id            5050 non-null object
dtypes: object(8)
memory usage: 315.7+ KB

In [6]:
data.head()

,all_titles,all_years,all_scores,all_meta,all_votes,all_gross,all_genres,id
0,Star Wars: Episode VII - The Force Awakens,(2015),7.9,81,799424,"936,662,225","\nAction, Adventure, Sci-Fi",tt2488496
1,Avengers: Endgame,(2019),8.5,78,598830,"858,373,000","\nAction, Adventure, Drama",tt4154796
2,Avatar,(2009),7.8,83,1065708,"760,507,625","\nAction, Adventure, Fantasy",tt0499549
3,Black Panther,(2018),7.3,88,550256,"700,059,566","\nAction, Adventure, Sci-Fi",tt1825683
4,Avengers: Infinity War,(2018),8.5,68,723574,"678,815,482","\nAction, Adventure, Sci-Fi",tt4154756

# Clean data

In [7]:
import re

In [8]:
data['all_years'] = data['all_years'].apply(lambda x: re.sub('[^0-9]','', x))

data['all_genres'] = data['all_genres'].apply(lambda x: x[1:])

data['all_gross'] = data['all_gross'].apply(lambda x: x.replace(',',''))
data['all_gross'] = data['all_gross'].apply(lambda x:  int(x) if x != 'no' else 0)

data['all_scores'] = data['all_scores'].apply(lambda x: x.replace('.',''))
data['all_scores'] = data['all_scores'].apply(lambda x: int(x) if x != 'NO' else 0)

data['all_meta'] = data['all_meta'].apply(lambda x: int(x.replace('.','')) if x != 'no' else 0)

data['all_years'] = data['all_years'].apply(lambda x: int(x))

In [9]:
# data.all_years.value_counts(normalize=True).sort_index()

In [10]:
# sns.distplot(data.all_gross)

In [11]:
# sns.distplot(data.all_meta)

# Importing external csv to get the budget

In [12]:
movies_metadata = pd.read_csv('movies_metadata.csv')

/Users/carloscutillas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
budget_and_id = movies_metadata[['budget', 'imdb_id']]

In [14]:
# budget_and_id

# Creating new dataframe

In [15]:
all_data = pd.merge(data, budget_and_id,how='left', left_on='id', right_on='imdb_id')

In [18]:
# all_data.head(5)

In [19]:
all_data.dropna(inplace=True)

In [20]:
all_data['budget'] = all_data['budget'].astype(int)

In [21]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4745 entries, 0 to 5053
Data columns (total 10 columns):
all_titles    4745 non-null object
all_years     4745 non-null int64
all_scores    4745 non-null int64
all_meta      4745 non-null int64
all_votes     4745 non-null object
all_gross     4745 non-null int64
all_genres    4745 non-null object
id            4745 non-null object
budget        4745 non-null int64
imdb_id       4745 non-null object
dtypes: int64(5), object(5)
memory usage: 407.8+ KB

In [22]:
# sns.distplot(all_data.all_years)

In [23]:
all_data['genre_bis'] = all_data['all_genres'].apply(lambda x: 'Action' if 'Action' in x
                                                     else ('Romance' if 'Romance' in x else 'no'))

In [24]:
all_data.genre_bis.value_counts()

no         2685
Action     1219
Romance     841
Name: genre_bis, dtype: int64

In [25]:
data.shape

(5050, 8)

In [26]:
all_data.head()

,all_titles,all_years,all_scores,all_meta,all_votes,all_gross,all_genres,id,budget,imdb_id,genre_bis
0,Star Wars: Episode VII - The Force Awakens,2015,79,81,799424,936662225,"Action, Adventure, Sci-Fi",tt2488496,245000000,tt2488496,Action
2,Avatar,2009,78,83,1065708,760507625,"Action, Adventure, Fantasy",tt0499549,237000000,tt0499549,Action
5,Titanic,1997,78,75,979853,659325379,"Drama, Romance",tt0120338,200000000,tt0120338,Romance
6,Jurassic World,2015,70,59,549843,652270625,"Action, Adventure, Sci-Fi",tt0369610,150000000,tt0369610,Action
7,Avengers Assemble,2012,80,69,1206183,623279547,"Action, Adventure, Sci-Fi",tt0848228,220000000,tt0848228,Action

In [27]:
all_data['profit'] = all_data['all_gross'] - all_data['budget']

In [ ]:
sns.distplot(all_data.profit)

In [29]:
all_data.describe().T

,count,mean,std,min,25%,50%,75%,max
all_years,4745.0,1.997441e+03,1.421973e+01,1915.0,1989.0,2000.0,2008.0,2019.0
all_scores,4745.0,6.411001e+01,9.699865e+00,19.0,58.0,64.0,71.0,93.0
all_meta,4745.0,4.572540e+01,2.572250e+01,0.0,32.0,49.0,64.0,100.0
all_gross,4745.0,5.492750e+07,6.538154e+07,9074550.0,17488564.0,32682342.0,64378093.0,936662225.0
budget,4745.0,3.250036e+07,4.274091e+07,0.0,130000.0,18500000.0,45000000.0,380000000.0
profit,4745.0,2.242715e+07,5.090711e+07,-186921900.0,573641.0,15073942.0,33545092.0,691662225.0

In [30]:
all_data[all_data['profit'] == -186921900.0]

,all_titles,all_years,all_scores,all_meta,all_votes,all_gross,all_genres,id,budget,imdb_id,genre_bis,profit
1093,John Carter,2012,66,51,245185,73078100,"Action, Adventure, Sci-Fi",tt0401729,260000000,tt0401729,Action,-186921900

In [31]:
all_data.budget.value_counts()
all_data.shape

(4745, 12)

In [33]:
data_for_budget = all_data[all_data['budget'] > 0]

In [34]:
data_for_budget.shape

(3578, 12)

In [ ]:
sns